---
import '@assets/periodensystem/style.css';
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Diese Seite bietet (bald) einen Online verfügbaren Periodensystem" />
        <link rel="shortcut icon" href="favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Periodensystem | Online</title>
    </head>
    <body>
        <header></header>
        <main>
            <div class="periodic-table">
                <div class="empty-space-1"></div>
                <div class="empty-space-2"></div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>1</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>2</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>13</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>14</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>15</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>16</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>17</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>18</a>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>1</a>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">H</abbr>
                        <div class="desc">Wasserstoff</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">He</abbr>
                        <div class="desc">Helium</div>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>2</a>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Li</abbr>
                        <div class="desc">Lithium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Be</abbr>
                        <div class="desc">Beryllium</div>
                    </div>
                </div>

                <div class="periodic-element three">
                    <div class="periodic-element-inner">
                        <abbr class="title">B</abbr>
                        <div class="desc">Bor</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">C</abbr>
                        <div class="desc">Kohlenstoff</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">N</abbr>
                        <div class="desc">Stickstoff</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">O</abbr>
                        <div class="desc">Sauerstoff</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">F</abbr>
                        <div class="desc">Fluor</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ne</abbr>
                        <div class="desc">Neon</div>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>3</a>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Na</abbr>
                        <div class="desc">Natrium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Mg</abbr>
                        <div class="desc">Magnesium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Al</abbr>
                        <div class="desc">Aluminium</div>
                    </div>
                </div>

                <div class="periodic-element three">
                    <div class="periodic-element-inner">
                        <abbr class="title">Si</abbr>
                        <div class="desc">Silicium</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">P</abbr>
                        <div class="desc">Phosphor</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">S</abbr>
                        <div class="desc">Schwefel</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Cl</abbr>
                        <div class="desc">Chlor</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ar</abbr>
                        <div class="desc">Argon</div>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>4</a>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">K</abbr>
                        <div class="desc">Kalium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ca</abbr>
                        <div class="desc">Calcium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ga</abbr>
                        <div class="desc">Gallium</div>
                    </div>
                </div>

                <div class="periodic-element three">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ge</abbr>
                        <div class="desc">Germanium</div>
                    </div>
                </div>

                <div class="periodic-element three">
                    <div class="periodic-element-inner">
                        <abbr class="title">As</abbr>
                        <div class="desc">Arsen</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Se</abbr>
                        <div class="desc">Selen</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Br</abbr>
                        <div class="desc">Brom</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Kr</abbr>
                        <div class="desc">Krypton</div>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>5</a>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Rb</abbr>
                        <div class="desc">Rubidium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Sr</abbr>
                        <div class="desc">Strontium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">In</abbr>
                        <div class="desc">Indium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Sn</abbr>
                        <div class="desc">Zinn</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Sb</abbr>
                        <div class="desc">Antimon</div>
                    </div>
                </div>

                <div class="periodic-element three">
                    <div class="periodic-element-inner">
                        <abbr class="title">Te</abbr>
                        <div class="desc">Tellur</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">I</abbr>
                        <div class="desc">Iod</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Xe</abbr>
                        <div class="desc">Xenon</div>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>6</a>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Cs</abbr>
                        <div class="desc">Caesium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ba</abbr>
                        <div class="desc">Barium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Tl</abbr>
                        <div class="desc">Thallium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Pb</abbr>
                        <div class="desc">Blei</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Bi</abbr>
                        <div class="desc">Bismut</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Po</abbr>
                        <div class="desc">Polonium</div>
                    </div>
                </div>

                <div class="periodic-element three">
                    <div class="periodic-element-inner">
                        <abbr class="title">At</abbr>
                        <div class="desc">Astat</div>
                    </div>
                </div>

                <div class="periodic-element one">
                    <div class="periodic-element-inner">
                        <abbr class="title">Rn</abbr>
                        <div class="desc">Radon</div>
                    </div>
                </div>

                <div class="periodic-element period">
                    <div class="periodic-element-inner">
                        <a>7</a>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Fr</abbr>
                        <div class="desc">Francium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ra</abbr>
                        <div class="desc">Radium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Nh</abbr>
                        <div class="desc">Nihonium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Fl</abbr>
                        <div class="desc">Flerovium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Mc</abbr>
                        <div class="desc">Moscovium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Lv</abbr>
                        <div class="desc">Livermorium</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Ts</abbr>
                        <div class="desc">Tenness</div>
                    </div>
                </div>

                <div class="periodic-element two">
                    <div class="periodic-element-inner">
                        <abbr class="title">Og</abbr>
                        <div class="desc">Oganesson</div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
