.fly-in-up {
    animation: none;
}

@media (prefers-reduced-motion: no-preference) {
    /* Fly-in-up */
    .fly-in-up.is-visible {
        opacity: 0;
        animation-name: fly-in-up;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes fly-in-up {
        0% {
            opacity: 0;
            filter: blur(2px);
            transform: translate3d(0, 25px, 0);
        }
        100% {
            opacity: 1;
            filter: blur(0);
            transform: translate3d(0, 0, 0);
        }
    }
}

.i-v {
    opacity: 0;
}
