.fly-in-up, .fly-in-left, .fly-in-right  {
    animation: none;
}

@media (prefers-reduced-motion: no-preference) {
    /* Fly-in-up */
    .fly-in-up.is-visible {
        opacity: 0;
        animation-name: fly-in-up;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes fly-in-up {
        0% {
            opacity: 0;
            filter: blur(2px);
            transform: translate3d(0, 25px, 0);
        }
        100% {
            opacity: 1;
            filter: blur(0);
            transform: translate3d(0, 0, 0);
        }
    }

    /* Fly-in-left */
    .fly-in-left.is-visible {
        opacity: 0;
        animation-name: fly-in-left;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
    }
    @keyframes fly-in-left {
        0% {
            opacity: 0;
            filter: blur(4px);
            transform: translate3d(-35px, 0, 0);
        }
        100% {
            opacity: 1;
            filter: blur(0);
            transform: translate3d(0, 0, 0);
        }
    }

    /* Fly-in-right */
    .fly-in-right.is-visible {
        opacity: 0;
        animation-name: fly-in-right;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
    }
    @keyframes fly-in-right {
        0% {
            opacity: 0;
            filter: blur(4px);
            transform: translate3d(35px, 0, 0);
        }
        100% {
            opacity: 1;
            filter: blur(0);
            transform: translate3d(0, 0, 0);
        }
    }

    /* Fade-in */
    .fade-in {
        animation-name: fade-in;
        animation-duration: 0.4s;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* Fade-out */
    .fade-out {
        animation-name: fade-out;
        animation-duration: 1s;
    }
    @keyframes fade-out {
        100% {
            opacity: 0;
        }
        0% {
            opacity: 1;
        }
    }

    .will-change {
        will-change: transform, opacity, filter;
    }
}

.i-v {
    opacity: 0;
}