---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt | Breindl Thomas" active="Kontakt">
    <div class="relative mt-11 flex min-h-screen items-center justify-center sm:mt-0 sm:items-center sm:pt-0">
        <div class="mx-auto w-full max-w-6xl sm:px-6 lg:px-8">
            <div class="mt-8 overflow-hidden">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                    <div class="bg-gray-100 p-6 sm:rounded-lg dark:bg-gray-800">
                        <h1
                            class="mb-4 text-4xl font-extrabold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
                        >
                            Kontaktieren Sie mich
                        </h1>
                        <p class="text-normal text-lg font-medium text-gray-600 sm:text-2xl dark:text-gray-400">
                            Füllen Sie das Formular aus, um ein Gespräch zu beginnen
                        </p>

                        <div class="mt-8 flex items-center text-gray-600 dark:text-gray-400">
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                viewBox="0 0 24 24"
                                class="h-8 w-8 text-gray-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="1.5"
                                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                                ></path>
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="1.5"
                                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <div class="text-md ml-4 w-40 font-semibold tracking-wide">Passau, Deutschland</div>
                        </div>

                        <div class="mt-4 flex items-center text-gray-600 dark:text-gray-400">
                            <svg class="h-8 w-8 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
                                <Icon name="mdi:twitter" style={'width: 2rem'} />
                            </svg>
                            <div class="text-md ml-4 w-40 font-semibold tracking-wide">
                                <a href="https://twitter.com/BreindlThomas" target="_blank" rel="noopener noreferrer"
                                    >@BreindlThomas</a
                                >
                            </div>
                        </div>

                        <div class="mt-4 flex items-center text-gray-600 dark:text-gray-400">
                            <svg class="h-8 w-8 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
                                <Icon name="mdi:github" style={'width: 2rem'} />
                            </svg>
                            <div class="text-md ml-4 w-40 font-semibold tracking-wide">
                                <a href="https://github.com/Aquitano" target="_blank" rel="noopener noreferrer"
                                    >Aquitano</a
                                >
                            </div>
                        </div>

                        <div class="mt-4 flex items-center text-gray-600 dark:text-gray-400">
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                viewBox="0 0 24 24"
                                class="h-8 w-8 text-gray-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="1.5"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                                ></path>
                            </svg>
                            <div class="text-md ml-4 w-40 font-semibold tracking-wide">
                                <a href="mailto:ThomasBreindl@proton.me">ThomasBreindl@proton.me</a>
                            </div>
                        </div>
                    </div>

                    <form
                        class="flex flex-col justify-center space-y-4 p-6"
                        name="contact"
                        data-netlify-recaptcha="true"
                        data-netlify="true"
                        method="POST"
                    >
                        <input type="hidden" name="form-name" value="contact" />
                        <div class="flex flex-col">
                            <label for="name" class="hidden">Vollständiger Name</label>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Vollständiger Name"
                                class="w-full rounded-lg border border-gray-400 bg-white px-3 py-3 font-semibold text-gray-800 focus:border-indigo-500 focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
                            />
                        </div>

                        <div class="flex flex-col">
                            <label for="email" class="hidden">E-Mail</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="E-Mail"
                                class="w-full rounded-lg border border-gray-400 bg-white px-3 py-3 font-semibold text-gray-800 focus:border-indigo-500 focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
                            />
                        </div>

                        <div class="flex flex-col">
                            <label for="tel" class="hidden">Telefonnummer</label>
                            <input
                                type="tel"
                                name="tel"
                                id="tel"
                                placeholder="Telefonnummer"
                                class="w-full rounded-lg border border-gray-400 bg-white px-3 py-3 font-semibold text-gray-800 focus:border-indigo-500 focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
                            />
                        </div>

                        <div class="flex flex-col">
                            <label for="message" class="hidden">Nachricht</label>
                            <textarea
                                name="message"
                                id="message"
                                placeholder="Ihre Nachricht"
                                rows="4"
                                class="w-full rounded-lg border border-gray-400 bg-white px-3 py-3 font-semibold text-gray-800 focus:border-indigo-500 focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
                            ></textarea>
                        </div>

                        <div data-netlify-recaptcha="true"></div>

                        <button
                            type="submit"
                            class="hover:bg-blue-dark mt-3 w-full rounded-lg bg-indigo-600 px-6 py-3 font-bold text-white transition duration-300 ease-in-out hover:bg-indigo-500 md:w-auto"
                        >
                            Absenden
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script>
    const form = document.querySelector('form');

    form?.addEventListener('submit', (e) => {
        e.preventDefault();

        const name = form.querySelector<HTMLInputElement>('#name')?.value;
        const email = form.querySelector<HTMLInputElement>('#email')?.value.replace(/\s/g, '');
        const tel = form.querySelector<HTMLInputElement>('#tel')?.value.replace(/\s/g, '');
        const message = form.querySelector<HTMLTextAreaElement>('#message')?.value;

        // Check values
        if (!name || !email || !tel || !message) {
            alert('Bitte füllen Sie alle Felder aus.');
            return;
        }

        if (email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/g) === null) {
            alert('Bitte geben Sie eine gültige E-Mail-Adresse an.');
            return;
        }

        if (!tel.match(/^[0-9\-\+]{9,15}$/g)) {
            alert('Bitte geben Sie eine gültige Telefonnummer an.');
            return;
        }

        const formData: Record<string, string> = {
            name,
            email,
            tel,
            message,
        };

        fetch('/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams(formData).toString(),
        })
            .then(() => alert('Form successfully submitted'))
            .catch((error) => alert(error));
    });
</script>
