---
import LinkButton from './LinkButton.astro';

const year = new Date().getFullYear();

const Items = [
    { name: 'Home', url: '/' },
    { name: 'About', url: '/about' },
    { name: 'Projects', url: '/projects' },
    { name: 'Contact', url: '/contact' },
];
---

<div class="spacer fill-black md:-mt-24"></div>
<footer>
    <div class="container mx-auto px-4 pb-5">
        <div class="grid grid-cols-1 gap-4 text-center md:grid-cols-3 md:text-left">
            <div class="px-4">
                <h1 class="text-4xl font-semibold">Thomas Breindl</h1>
                <p class="mt-4 text-xl leading-relaxed text-gray-800 md:hidden">
                    Ich bin Schüler am Adalbert-Stifter-Gymnasium. <br />Tools Crafter · Fokussiert auf TypeScript &
                    Python
                </p>
                <p class="mt-4 hidden text-xl leading-relaxed text-gray-800 md:block">
                    Ich bin Schüler am Adalbert-Stifter-Gymnasium. Tools Crafter · Fokussiert auf TypeScript & Python
                </p>
            </div>
            <div class="flex flex-col items-center justify-center pl-5">
                <LinkButton text="Contact" icon="mdi:message" href="#" style={'width: 1.5rem'} />
            </div>
            <div class="flex flex-col justify-center px-4 pl-5 text-center md:text-right">
                <ul class="text-xl leading-loose text-gray-800">
                    {
                        Items.map((item) => (
                            <li>
                                <a
                                    href={item.url}
                                    class="link-underline text-gray-700 transition-all duration-150 hover:text-gray-900"
                                >
                                    {item.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <div class="mt-10 flex flex-col items-center justify-center">
            <div class="text-sm text-gray-800">© {year} Thomas Breindl. All rights reserved.</div>
        </div>
    </div>
</footer>

<style lang="scss">
    .link {
        font-weight: 800;
        letter-spacing: normal;
        text-transform: uppercase;
    }
    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#0f141e, #0f141e);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;

        &:hover {
            background-size: 100% 3px;
            background-position: 0 100%;
            text-shadow: 0 0 0.25px #0f141e80;
        }
    }

    .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        background-image: url('/footer-wave.svg');
    }

    footer {
        background-color: #c2c2b4;
    }
</style>
