<section class="home-portfolio" id="portfolio">
    <div class="wrapper">
        <div>
            <p class="pre-header font-semibold Fly-in-down i-v">Meine</p>
            <h1 class="large Fly-in-down i-v">Projekte</h1>
        </div>
        <div class="list">
            <!-- BetterGaming -->
            <div class="list-item-portfolio i-v Fly-in-left">
                <a href="project/BetterGaming" class="new">
                    <i class="new dark-bg">new</i>
                    <svg viewBox="0 0 100 100" class="circle">
                        <circle cx="50" cy="50" r="47" stroke-width="6"></circle>
                    </svg>
                    <div>
                        <img
                            alt="BetterGaming - Designed by rawpixel.com / Freepik"
                            width="670px"
                            height="838px"
                            src="images/BetterGaming.jpg"
                            loading="lazy"
                        />
                    </div>
                    <strong class="regular white-bg"
                        ><span class="h5">2021</span>
                        <span class="h2 with-badge font-extrabold">BetterGaming - Onlineshop</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ><strong class="action"
                        ><span class="h5">2021</span>
                        <span class="h2 with-badge">BetterGaming - Onlineshop</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ></a
                >
            </div>
            <!-- Griffin -->
            <div class="list-item-portfolio i-v Fly-in-right">
                <a href="project/Griffin" class="new">
                    <div>
                        <img
                            alt="Griffin Energy - Designed by rawpixel.com / Freepik"
                            width="670px"
                            height="838px"
                            src="images/Griffin.jpg"
                            loading="lazy"
                        />
                    </div>
                    <strong class="regular white-bg"
                        ><span class="h5">2020</span>
                        <span class="h2 with-badge">Griffin Energy - Produktdesign</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ><strong class="action"
                        ><span class="h5">2020</span>
                        <span class="h2 with-badge">Griffin Energy - Produktdesign</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ></a
                >
            </div>
            <!-- Periodensystem -->
            <div class="list-item-portfolio i-v Fly-in-left">
                <a href="project/Periodensystem" class="new">
                    <div>
                        <img
                            alt="Periodensystem - Designed by rawpixel.com / Freepik"
                            width="670px"
                            height="838px"
                            src="images/Periodensystem.jpg"
                            loading="lazy"
                        />
                    </div>
                    <strong class="regular white-bg"
                        ><span class="h5">2021</span>
                        <span class="h2 with-badge">Periodensystem - Online</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ><strong class="action"
                        ><span class="h5">2020</span>
                        <span class="h2 with-badge">Periodensystem - Online</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ></a
                >
            </div>
            <!-- JustHTML -->
            <div class="list-item-portfolio i-v Fly-in-right">
                <a href="project/JustHTML" class="new">
                    <div>
                        <img
                            alt="JustHTML - Designed by rawpixel.com / Freepik"
                            width="670px"
                            height="838px"
                            src="images/JustHTML.jpg"
                            loading="lazy"
                        />
                    </div>
                    <strong class="regular white-bg"
                        ><span class="h5">2020</span>
                        <span class="h2 with-badge">JustHTML - Framework</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ><strong class="action"
                        ><span class="h5">2020</span>
                        <span class="h2 with-badge">JustHTML - Framework</span>
                        <span class="more with-icon"
                            ><p>
                                Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                    ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                >
                            </p></span
                        ></strong
                    ></a
                >
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .pre-header {
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        letter-spacing: 0.4em;
        color: #878a8f;
    }

    section.home-portfolio {
        z-index: 3;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.home-portfolio .list {
            margin-top: 130px;
        }
    }
    section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
        margin-top: 30px;
    }
    section.home-portfolio .list .list-item-portfolio > a {
        background: rgba(249, 249, 249, 0.9);
        height: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        padding-top: 130px;
        border: 0;
        border-radius: 25px;
    }
    section.home-portfolio .list .list-item-portfolio > a:before {
        background: rgba(15, 20, 30, 0.9);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        content: '';
        box-sizing: border-box;
        border-radius: 25px;
        transition: opacity 0.2s linear;
    }
    section.home-portfolio .list .list-item-portfolio a div > img {
        box-sizing: border-box;
        border-radius: 25px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong {
        position: absolute;
        display: block;
        width: 100%;
        top: 20px;
        left: 0;
        z-index: 2;
        pointer-events: none;
    }
    section.home-portfolio .list .list-item-portfolio > a strong > span {
        display: block;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .h2,
    section.home-portfolio .list .list-item-portfolio > a strong .h5,
    section.home-portfolio .list .list-item-portfolio > a strong .more {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 320px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
    section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
    section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
        padding-right: 13%;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more {
        margin-top: 5px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more .icon {
        width: 16px;
        height: 16px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more .icon svg {
        top: 0.15em;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more .icon--on-right {
        margin-left: 10px;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            margin-top: 10px;
        }
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular {
        opacity: 1;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.regular .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.regular .more {
        transition: all 0.2s linear;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .more {
        opacity: 0.7;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .more p {
        color: #fff;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.action {
        left: -9999px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.action .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.action .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.action .more {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    section.home-portfolio .list .list-item-portfolio > a strong.action .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.action .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.action .more p {
        color: #fff;
    }
    section.home-portfolio .list .list-item-portfolio > a:active:before {
        opacity: 1;
    }
    section.home-portfolio .list .list-item-portfolio > a:active i.new {
        border-color: #fff;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.regular {
        opacity: 0;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action {
        left: 0;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action .h5 {
        opacity: 0.6;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s linear 0s;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action .h2 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s linear 0.1s;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action .more {
        opacity: 0.6;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s linear 0.2s;
    }
    section.home-portfolio .list .list-item-portfolio > a i.new {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 20px;
        right: 20px;
        z-index: 3;
        pointer-events: none;
        color: #fff;
        text-align: center;
        font-size: 0.625rem;
        line-height: 2.75rem;
        font-weight: 800;
        letter-spacing: 0.2em;
        padding-left: 3px;
        text-transform: uppercase;
        font-style: normal;
        border: 3px solid #0f141e;
        border-radius: 50%;
        transition: all 0.2s linear;
        background: #0e1322;
    }
    section.home-portfolio .list .list-item-portfolio > a canvas,
    section.home-portfolio .list .list-item-portfolio > a svg.circle {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 20px;
        right: 20px;
        z-index: 2;
        pointer-events: none;
    }
    section.home-portfolio .list .list-item-portfolio > a img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
        pointer-events: none;
    }
    section.home-portfolio .list .list-item-portfolio > a img.loaded {
        transition: transform 0.2s linear, opacity 0.2s linear;
    }
    @media (min-width: 1280px) {
        section.home-portfolio .list .list-item-portfolio > a svg.circle {
            z-index: 3;
            transform: rotate(-170deg);
            stroke-dashoffset: 295.16;
            stroke-dasharray: 295.16;
        }
        section.home-portfolio .list .list-item-portfolio > a svg.circle circle {
            stroke: #fff;
            opacity: 0;
            fill: none;
        }
    }
    @media (min-width: 375px) {
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 80px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            padding-right: 3%;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 15%;
        }
    }
    @media (min-width: 410px) {
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 100px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            max-width: 520px;
            padding-right: 10%;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 10%;
        }
    }
    @media (min-width: 660px) {
        section.home-portfolio .list {
            display: flex;
            flex-wrap: wrap;
            margin: 123px -7px -7px -7px;
        }
        section.home-portfolio .list .list-item-portfolio {
            margin: 7px;
            width: calc(50% - 14px);
        }
        section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
            margin-top: 7px;
        }
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 120px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            max-width: none;
            padding-right: 10%;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 20%;
        }
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.home-portfolio .list {
            margin: 110px -15px -15px -15px;
        }
        section.home-portfolio .list .list-item-portfolio {
            margin: 15px;
            width: calc(50% - 30px);
        }
        section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
            margin-top: 15px;
        }
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 180px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong {
            top: 30px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            padding-left: 40px;
            padding-right: 0;
            max-width: 280px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 0;
        }
    }
    @media (min-width: 1024px) {
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 80px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong {
            top: 40px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more,
        section.home-portfolio .list .list-item-portfolio > a strong .with-badge {
            padding-left: 50px;
            max-width: 380px;
        }
    }
    @media (min-width: 1280px) {
        section.home-portfolio .list {
            margin: 95px -30px -30px -30px;
        }
        section.home-portfolio .list .list-item-portfolio {
            margin: 30px;
            width: calc(50% - 60px);
        }
        section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
            margin-top: 30px;
        }
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 0;
        }
        section.home-portfolio .list .list-item-portfolio > a:active {
            border-color: transparent;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover:before {
            opacity: 1;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover img {
            transform: scale(1.02);
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular {
            opacity: 0;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .h2,
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .h5,
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .more p {
            color: #fff;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .h5,
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .more {
            opacity: 0.6;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action {
            left: 0;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action .h5 {
            opacity: 0.6;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0s;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action .h2 {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0.1s;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action .more {
            opacity: 0.6;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0.2s;
        }
        section.home-portfolio .list .list-item-portfolio > a i.new {
            top: 30px;
            right: 30px;
            border-color: transparent;
            transition: none;
        }
        section.home-portfolio .list .list-item-portfolio > a canvas,
        section.home-portfolio .list .list-item-portfolio > a svg.circle {
            top: 30px;
            right: 30px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong {
            top: 50px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            padding-left: 60px;
            width: 400px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong.regular .more {
            display: none;
        }
    }

    // Animation
    .Fly-in-up,
    .Fly-in-down,
    .Fly-in-left,
    .Fly-in-right {
        animation: none;
        transition: none;
    }
    @media (prefers-reduced-motion: no-preference) {
        // Fly-in-down animation
        .Fly-in-down.is-visible {
            opacity: 0;
            animation-name: Fly-in-down;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
        @keyframes Fly-in-down {
            0% {
                opacity: 0;
                transform: translateY(25%);
                filter: blur(2px);
                transition: opacity 0.5s ease-in, transform 0.4s ease-in, filter 0.1s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translateY(0);
            }
        }

        // Fly-in-left
        .Fly-in-left.is-visible {
            animation-name: Fly-in-left;
            animation-duration: 1.2s;
            animation-delay: 0.25s;
            animation-fill-mode: forwards;
        }
        @keyframes Fly-in-left {
            0% {
                opacity: 0;
                filter: blur(4px);
                transform: translateX(-15%);
                transition: opacity 500ms ease-in, transform 0.4s ease-in, filter 0.1s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translateX(0);
            }
        }

        // Fly-in-right
        .Fly-in-right.is-visible {
            animation-name: Fly-in-right;
            animation-duration: 1.2s;
            animation-delay: 0.25s;
            animation-fill-mode: forwards;
        }
        @keyframes Fly-in-right {
            0% {
                opacity: 0;
                filter: blur(4px);
                transform: translateX(15%);
                transition: opacity 500ms ease-in, transform 0.4s ease-in, filter 0.1s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translateX(0);
            }
        }

        .i-v {
            opacity: 0;
        }
    }
</style>

<script></script>
