<a href="#" class="scroll-top" id="scroll-top" aria-label="Scroll back to top button"
    ><svg
        version="1.1"
        x="0px"
        y="0px"
        width="20px"
        height="20px"
        viewBox="0 0 20 20"
        enable-background="new 0 0 20 20"
    >
        <path fill="#ffffff" d="M18.008,7.667L16.606,9,11,3.627V20H9V3.627L3.392,9l-1.4-1.336L10-.012Z"></path></svg
    >
</a>

<style lang="scss">
    a.scroll-top {
        background: rgba(15, 20, 30, 0.3);
        display: block;
        position: fixed;
        width: 46px;
        height: 46px;
        right: -46px;
        bottom: 14px;
        z-index: 20;
        opacity: 0;
        padding: 13px;
        border: 0 none;
        border-radius: 23px;
        transform: translate3d(0, -10px, 0);
        transition: transform 0.4s linear, opacity 0.4s linear, right 0s linear 0.4s;
    }
    a.scroll-top.on {
        right: 14px;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 0.4s linear, opacity 0.4s linear, background 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    }
    a.scroll-top svg {
        display: block;
        width: 20px;
        height: 20px;
    }
    a.scroll-top:active {
        background: #0f141e;
    }
    @media (min-width: 768px) and (min-height: 620px) {
        a.scroll-top {
            bottom: 30px;
        }
        a.scroll-top.on {
            right: 30px;
        }
    }
    @media (min-width: 1280px) {
        a.scroll-top {
            bottom: 40px;
        }
        a.scroll-top.on {
            right: 40px;
        }
        a.scroll-top:hover {
            background: #0f141e;
        }
    }
</style>

<script>
    window.addEventListener('scroll', () => {
        // Distance from top of page
        const scroll = document.documentElement.scrollTop || document.body.scrollTop;

        if (scroll > 1000) {
            document.querySelector('#scroll-top')?.classList.add('on');
        } else {
            document.querySelector('#scroll-top')?.classList.remove('on');
        }
    });
</script>
