---
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import HomeTop from '../components/HomeTop.astro';
import Loader from '../components/Loader.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import Layout from '../layouts/IndexLayout.astro';
---

<Layout title="Breindl Thomas | Portfolio">
    <body>
        <!-- Loader -->
        <Loader />
        <!-- Header -->
        <Header active="Home" />

        <!-- Scroll to top button -->
        <ScrollToTop />

        <div id="Welcome">
            <HomeTop />
            <!-- All products! -->
            <section class="home-portfolio" id="portfolio">
                <div class="wrapper">
                    <div class="i-v">
                        <p class="pre-header">Meine</p>
                        <h1 class="large">Projekte</h1>
                    </div>
                    <div class="list">
                        <!-- BetterGaming -->
                        <div class="list-item-portfolio i-v">
                            <a href="project/BetterGaming" class="new">
                                <i class="new dark-bg">new</i>
                                <svg viewBox="0 0 100 100" class="circle">
                                    <circle cx="50" cy="50" r="47" stroke-width="6"></circle>
                                </svg>
                                <div>
                                    <img
                                        alt="BetterGaming - Designed by rawpixel.com / Freepik"
                                        width="670px"
                                        height="838px"
                                        src="images/BetterGaming.jpg"
                                        loading="lazy"
                                    />
                                </div>
                                <strong class="regular white-bg"
                                    ><span class="h5">2021</span>
                                    <span class="h2 with-badge">BetterGaming - Onlineshop</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ><strong class="action"
                                    ><span class="h5">2021</span>
                                    <span class="h2 with-badge">BetterGaming - Onlineshop</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ></a
                            >
                        </div>
                        <!-- Griffin -->
                        <div class="list-item-portfolio i-v">
                            <a href="project/Griffin" class="new">
                                <div>
                                    <img
                                        alt="Griffin Energy - Designed by rawpixel.com / Freepik"
                                        width="670px"
                                        height="838px"
                                        src="images/Griffin.jpg"
                                        loading="lazy"
                                    />
                                </div>
                                <strong class="regular white-bg"
                                    ><span class="h5">2020</span>
                                    <span class="h2 with-badge">Griffin Energy - Produktdesign</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ><strong class="action"
                                    ><span class="h5">2020</span>
                                    <span class="h2 with-badge">Griffin Energy - Produktdesign</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ></a
                            >
                        </div>
                        <!-- Periodensystem -->
                        <div class="list-item-portfolio i-v">
                            <a href="project/Periodensystem" class="new">
                                <div>
                                    <img
                                        alt="Periodensystem - Designed by rawpixel.com / Freepik"
                                        width="670px"
                                        height="838px"
                                        src="images/Periodensystem.jpg"
                                        loading="lazy"
                                    />
                                </div>
                                <strong class="regular white-bg"
                                    ><span class="h5">2021</span>
                                    <span class="h2 with-badge">Periodensystem - Online</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ><strong class="action"
                                    ><span class="h5">2020</span>
                                    <span class="h2 with-badge">Periodensystem - Online</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ></a
                            >
                        </div>
                        <!-- JustHTML -->
                        <div class="list-item-portfolio i-v">
                            <a href="project/JustHTML" class="new">
                                <div>
                                    <img
                                        alt="JustHTML - Designed by rawpixel.com / Freepik"
                                        width="670px"
                                        height="838px"
                                        src="images/JustHTML.jpg"
                                        loading="lazy"
                                    />
                                </div>
                                <strong class="regular white-bg"
                                    ><span class="h5">2020</span>
                                    <span class="h2 with-badge">JustHTML - Framework</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ><strong class="action"
                                    ><span class="h5">2020</span>
                                    <span class="h2 with-badge">JustHTML - Framework</span>
                                    <span class="more with-icon"
                                        ><p>
                                            Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                                                ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                                            >
                                        </p></span
                                    ></strong
                                ></a
                            >
                        </div>
                    </div>
                </div>
            </section>
            <section class="quick-contact">
                <div class="wrapper i-v">
                    <span style="text-align: center"
                        ><h1>Kontaktiere mich!</h1>
                        <br />
                        <ul class="social-links" style="list-style-type: none">
                            <li>
                                <a
                                    href="https://www.github.com/Aquitano"
                                    class="special"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                                        ></path>
                                    </svg>
                                    GitHub</a
                                >
                            </li>
                        </ul></span
                    >
                </div>
            </section>
        </div>
        <footer id="footer">
            <div class="wrapper" style="text-align: center; opacity: 25%; margin-bottom: -35px">
                <a class="copyright-text" href="#"
                    ><img src="images/Credit.jpg" alt="Inspiration" width="170" height="29" loading="lazy" /></a
                >
            </div>
        </footer>
        <!-- <script src="js/main-min.js" type="text/javascript"></script> -->
    </body>
</Layout>

<style lang="scss">
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .instructions strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }

    /* New */
    section {
        position: relative;
        width: 100%;
    }
    .wrapper {
        width: 100%;
        padding: 0 14px;
    }
    @media (min-width: 768px) and (min-height: 620px) {
        .wrapper {
            padding: 0 30px;
        }
    }
    @media (min-width: 1280px) {
        .wrapper {
            position: relative;
            padding: 0 40px;
        }
    }
    @media (min-width: 1480px) {
        .wrapper {
            max-width: 1480px;
            margin: 0 auto;
        }
    }
    @media (min-width: 1280px) {
        .scroll-container {
            position: relative;
            height: auto;
            padding-bottom: 0;
        }
    }
    ::selection {
        background-color: #878a8f;
        color: #fff;
    }
    a:focus,
    button:focus,
    input:focus,
    select:focus,
    textarea:focus {
        outline: 0;
    }
    @keyframes rotate-full {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes loader-progress-on {
        0%,
        50% {
            opacity: 0;
            transform: translate3d(0, 30px, 0);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes loader-progress-on-first-loading {
        0% {
            opacity: 0;
            transform: translate3d(0, 30px, 0);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .icon {
        display: inline-flex;
        align-self: center;
    }
    .icon svg {
        fill: currentColor;
        height: 100%;
        width: 100%;
        position: relative;
        top: 0.025em;
    }
    a {
        color: #878a8f;
        text-decoration: none;
        border-bottom: 1px solid rgba(135, 138, 143, 0.4);
        transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    }
    a:active {
        color: #0f141e;
        border-color: #0f141e;
    }
    a.special,
    a.with-icon {
        position: relative;
        color: #0f141e;
        border: 0 none;
        display: inline-block;
        line-height: 1;
    }
    @media (min-width: 1280px) {
        a:hover {
            color: #0f141e;
            border-color: #0f141e;
        }
        a.special:after,
        a.with-icon:after {
            height: 1px;
            border-bottom: 1px solid #0f141e;
            background: 0 0;
            position: absolute;
            display: block;
            top: 100%;
            right: 0;
            width: 100%;
            content: '';
            transition: opacity 0.2s linear;
            opacity: 0;
            transform: translate(0, 100%);
        }
        a.special:active:after,
        a.special:hover:after,
        a.with-icon:active:after,
        a.with-icon:hover:after {
            opacity: 1;
        }
    }
    p {
        color: #878a8f;
        font-weight: 500;
        letter-spacing: 0.01em;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    p a .icon {
        width: 16px;
        height: 16px;
    }
    p a .icon svg {
        top: 0.125em;
    }
    p a .icon--on-right {
        margin-left: 5px;
    }
    strong {
        font-weight: 500;
        color: #0f141e;
    }

    nav.links {
        display: block;
        margin-top: 10px;
    }
    nav.links h1,
    nav.links h2,
    nav.links h3,
    nav.links h4,
    nav.links h5 {
        display: inline-block;
    }
    nav.links span {
        color: #282a2c;
        margin-left: 10px;
        margin-right: 10px;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        nav.links {
            margin-top: 20px;
        }
        nav.links span {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media (max-width: 767px), (min-width: 768px) and (max-height: 619px) {
        .row > .col-sm-6-6 {
            width: 100%;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) and (min-height: 620px) {
        .row > .col-md-9-12 {
            width: 75%;
        }
        .row > .col-md-12-12 {
            width: 100%;
        }
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        .row > .col-smd-5-12 {
            width: 41.666666667%;
        }
        .row > .col-smd-6-12 {
            width: 50%;
        }
        .row > .col-smd-12-12 {
            width: 100%;
        }
        .row > .col-smd-offset-1-12 {
            margin-left: 8.333333333%;
        }
    }
    @media (min-width: 1280px) {
        .row > .col-lg-4-12 {
            width: 33.333333333%;
        }
        .row > .col-lg-6-12 {
            width: 50%;
        }
        .row > .col-lg-12-12 {
            width: 100%;
        }
        .row > .col-lg-offset-2-12 {
            margin-left: 16.666666667%;
        }
    }
    .quick-contact {
        padding: 70px 0 70px 0;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        .quick-contact {
            padding: 140px 0 135px 0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeInView {
        0% {
            transform: translate3d(0, 30px, 0);
            opacity: 0;
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
    .video-wrapper:not(.first) {
        visibility: hidden;
        opacity: 0;
    }

    footer#footer {
        min-width: 320px;
    }
    footer#footer .row {
        padding-top: 74px;
        border-top: 1px solid #e7e8e9;
    }
    footer#footer .row > div {
        margin-top: 40px;
    }
    footer#footer .row > div:first-child {
        margin-top: 0;
    }
    @media (min-width: 768px) and (min-height: 620px) {
        footer#footer .row > div:nth-child(2),
        footer#footer .row > div:nth-child(3),
        footer#footer .row > div:nth-child(4) {
            padding-right: 30px;
        }
    }
    @media (min-width: 1280px) {
        footer#footer .row > div {
            margin-top: 0;
        }
        footer#footer .row > div:first-child {
            padding-right: 40px;
        }
        footer#footer .row > div:last-child {
            margin-top: 40px;
        }
    }
    footer#footer h3 br {
        display: none;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        footer#footer h3 br {
            display: inline;
        }
    }
    @media (min-width: 768px) and (min-height: 620px) {
        footer#footer .contact {
            display: flex;
            flex-wrap: wrap;
        }
        footer#footer .contact h3 {
            width: 100%;
            margin: 0;
        }
        footer#footer .contact h3 br {
            display: none;
        }
        footer#footer .contact p {
            width: 50%;
            padding-right: 40px;
        }
    }
    @media (min-width: 1280px) {
        footer#footer .contact {
            display: block;
        }
        footer#footer .contact h3 br {
            display: inline;
        }
        footer#footer .contact p {
            width: 100%;
            padding-right: 0;
        }
    }
    footer#footer ul {
        margin-top: 10px;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    footer#footer ul > li {
        list-style-type: none;
        font-weight: 500;
        color: #878a8f;
    }
    footer#footer ul.social-links {
        display: flex;
        flex-wrap: wrap;
    }
    footer#footer ul.social-links > li {
        width: 50%;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        footer#footer ul.social-links {
            display: block;
        }
        footer#footer ul.social-links > li {
            width: 100%;
        }
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        footer#footer ul {
            margin-top: 10px;
        }
    }
    @media (min-width: 1280px) {
        footer#footer ul.social-links {
            display: block;
        }
        footer#footer ul.social-links > li {
            width: 100%;
        }
    }
    footer#footer {
        position: relative;
        padding-bottom: 76px;
    }
    html.case-study footer#footer {
        display: none;
    }

    form {
        display: block;
        position: relative;
    }
    form .notifications > div {
        display: none;
        background-repeat: no-repeat;
        background-position: top 5px left 0;
        background-size: 20px 20px;
        font-weight: 500;
        line-height: 1.875rem;
        padding-left: 25px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    form .notifications > div.error {
        background-image: url(../assets/images/icon_notification_error.svg);
        color: #ff5959;
    }
    form .notifications > div.on {
        display: block;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        form .notifications > div {
            float: right;
            margin-bottom: 0;
            margin-top: 0;
        }
        form .notifications > div.on {
            display: inline-block;
        }
    }
    form .field {
        display: block;
        position: relative;
        margin-bottom: 30px;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        form .field {
            margin-bottom: 45px;
        }
    }
    form .field label {
        display: block;
        cursor: text;
        font-weight: 400;
        font-size: 0.8123rem;
        line-height: 1.25rem;
        letter-spacing: 0.03em;
        padding-top: 1px;
        padding-bottom: 4px;
        color: #878a8f;
    }
    form .field label + select {
        margin-top: 5px;
    }
    form .field:after {
        display: table;
        clear: both;
        content: '';
    }
    form .field.error select {
        color: #ff5959;
        border-color: #ff5959;
    }
    form .field.error select:focus {
        color: #0f141e;
        border-color: #e7e8e9;
    }
    form .field.error input[type='number'],
    form .field.error input[type='password'],
    form .field.error input[type='text'],
    form .field.error textarea {
        color: #ff5959;
        border-color: #ff5959;
    }
    form .field.error input[type='number']:focus,
    form .field.error input[type='password']:focus,
    form .field.error input[type='text']:focus,
    form .field.error textarea:focus {
        color: #0f141e;
        border-color: #0f141e;
    }
    form input,
    form select,
    form textarea {
        font-family: 'Helvetica Now Display DW', sans-serif;
        outline: 0;
        appearance: none;
        border-radius: 0;
    }
    form input[type='number'],
    form input[type='password'],
    form input[type='text'],
    form textarea {
        background: #fff;
        width: 100%;
        height: 45px;
        font-size: 1.125rem;
        line-height: 1.875rem;
        font-weight: 500;
        color: #0f141e;
        padding: 8px 0 6px 0;
        border: 1px solid #e7e8e9;
        border-width: 0 0 1px 0;
    }
    form textarea {
        padding: 8px 0 6px 0;
    }
    form textarea {
        display: block;
        height: auto;
        min-height: 45px;
        resize: none;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    form select {
        background: #fff url(../assets/images/icon_select_gray.svg) no-repeat top 15px right 15px;
        background-size: 20px 20px;
        width: 100%;
        height: 50px;
        font-size: 1.125rem;
        line-height: 50px;
        font-weight: 500;
        color: #0f141e;
        cursor: pointer;
        padding: 1px 50px 0 20px;
        border: 1px solid #e7e8e9;
        transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    }
    form select:active,
    form select:focus {
        background-color: #f3f3f4;
    }
    form select option {
        padding-left: 20px;
        padding-right: 50px;
    }
    form button {
        background: #fff;
        position: relative;
        display: block;
        width: auto;
        height: 30px;
        font-family: 'Helvetica Now Display DW', sans-serif;
        font-size: 1.125rem;
        font-weight: 800;
        line-height: 1.5625rem;
        margin-top: 10px;
        text-align: left;
        color: #0f141e;
        cursor: pointer;
        padding: 0;
        border: 0 none;
        transition: background 0.2s linear;
    }
    form button:disabled {
        cursor: default;
    }
    form button > span {
        position: relative;
        display: none;
        padding-left: 28px;
        padding-top: 1px;
        padding-bottom: 4px;
    }
    form button > span .icon {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 3px;
        left: 0;
    }
    form button > span:before {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 2px;
        left: 0;
        content: '';
    }
    form button > span.sending .icon {
        animation: rotate-full 0.6s linear infinite;
    }
    form button.regular > span.regular {
        display: block;
    }
    form button.sending {
        background: #fff;
    }
    form button.sending > span.sending {
        display: block;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        form button {
            margin-top: 0;
        }
    }
    @media (min-width: 1280px) {
        form button {
            cursor: default;
        }
        form button .regular {
            cursor: pointer;
        }
        form button .regular:after {
            border-bottom: 2px solid #0f141e;
            background: 0 0;
            position: absolute;
            display: block;
            top: 100%;
            margin-top: -2px;
            left: 0;
            width: 100%;
            height: 0;
            content: '';
            transition: opacity 0.2s linear;
            opacity: 0;
        }
        form button:active .regular:after,
        form button:hover .regular:after {
            opacity: 1;
        }
    }
    @keyframes swiper-preloader-spin {
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes sk-scaleout {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }

    @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        header#header .logo {
            margin-left: calc(env(safe-area-inset-left) + 14px);
        }
        header#header .menu {
            margin-right: calc(env(safe-area-inset-left) + 14px);
        }
        .wrapper {
            padding-left: calc(env(safe-area-inset-left) + 14px);
            padding-right: calc(env(safe-area-inset-right) + 14px);
        }
        div.loader .text {
            bottom: calc(env(safe-area-inset-bottom) + 14px);
        }
        div.loader .logo,
        div.loader .text {
            left: calc(env(safe-area-inset-left) + 14px);
        }
        a.scroll-top.on {
            right: calc(env(safe-area-inset-right) + 14px);
        }
        nav#nav .logo {
            left: calc(env(safe-area-inset-left) + 14px);
        }
        nav#nav .close {
            right: calc(env(safe-area-inset-right) + 14px);
        }
    }
    @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (min-width: 768px) and (min-height: 620px) {
        header#header .logo {
            margin-left: calc(env(safe-area-inset-left) + 30px);
        }
        header#header .menu {
            margin-right: calc(env(safe-area-inset-left) + 30px);
        }
        .wrapper {
            padding-left: calc(env(safe-area-inset-left) + 30px);
            padding-right: calc(env(safe-area-inset-right) + 30px);
        }
        div.loader .logo,
        div.loader .text {
            left: calc(env(safe-area-inset-left) + 30px);
        }
        a.scroll-top.on {
            right: calc(env(safe-area-inset-right) + 30px);
        }
        nav#nav .logo {
            left: calc(env(safe-area-inset-left) + 30px);
        }
        nav#nav .close {
            right: calc(env(safe-area-inset-right) + 30px);
        }
    }
    @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
        div.loader .text {
            bottom: calc(env(safe-area-inset-bottom) + 34px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        50% {
            opacity: 1;
            transform: translateY(7px);
        }
    }
    .pre-header {
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 400;
        letter-spacing: 0.4em;
        color: #878a8f;
    }
    section.home-portfolio {
        z-index: 3;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.home-portfolio .list {
            margin-top: 130px;
        }
    }
    section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
        margin-top: 30px;
    }
    section.home-portfolio .list .list-item-portfolio > a {
        background: rgba(249, 249, 249, 0.9);
        height: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        padding-top: 130px;
        border: 0;
        border-radius: 25px;
    }
    section.home-portfolio .list .list-item-portfolio > a:before {
        background: rgba(15, 20, 30, 0.9);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        content: '';
        box-sizing: border-box;
        border-radius: 25px;
        transition: opacity 0.2s linear;
    }
    section.home-portfolio .list .list-item-portfolio a div > img {
        box-sizing: border-box;
        border-radius: 25px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong {
        position: absolute;
        display: block;
        width: 100%;
        top: 20px;
        left: 0;
        z-index: 2;
        pointer-events: none;
    }
    section.home-portfolio .list .list-item-portfolio > a strong > span {
        display: block;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .h2,
    section.home-portfolio .list .list-item-portfolio > a strong .h5,
    section.home-portfolio .list .list-item-portfolio > a strong .more {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 320px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
    section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
    section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
        padding-right: 13%;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more {
        margin-top: 5px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more .icon {
        width: 16px;
        height: 16px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more .icon svg {
        top: 0.15em;
    }
    section.home-portfolio .list .list-item-portfolio > a strong .more .icon--on-right {
        margin-left: 10px;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            margin-top: 10px;
        }
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular {
        opacity: 1;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.regular .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.regular .more {
        transition: all 0.2s linear;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .more {
        opacity: 0.7;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.regular.dark-bg .more p {
        color: #fff;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.action {
        left: -9999px;
    }
    section.home-portfolio .list .list-item-portfolio > a strong.action .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.action .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.action .more {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    section.home-portfolio .list .list-item-portfolio > a strong.action .h2,
    section.home-portfolio .list .list-item-portfolio > a strong.action .h5,
    section.home-portfolio .list .list-item-portfolio > a strong.action .more p {
        color: #fff;
    }
    section.home-portfolio .list .list-item-portfolio > a:active:before {
        opacity: 1;
    }
    section.home-portfolio .list .list-item-portfolio > a:active i.new {
        border-color: #fff;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.regular {
        opacity: 0;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action {
        left: 0;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action .h5 {
        opacity: 0.6;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s linear 0s;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action .h2 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s linear 0.1s;
    }
    section.home-portfolio .list .list-item-portfolio > a:active strong.action .more {
        opacity: 0.6;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s linear 0.2s;
    }
    section.home-portfolio .list .list-item-portfolio > a i.new {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 20px;
        right: 20px;
        z-index: 3;
        pointer-events: none;
        color: #fff;
        text-align: center;
        font-size: 0.625rem;
        line-height: 2.75rem;
        font-weight: 800;
        letter-spacing: 0.2em;
        padding-left: 3px;
        text-transform: uppercase;
        font-style: normal;
        border: 3px solid #0f141e;
        border-radius: 50%;
        transition: all 0.2s linear;
        background: #0e1322;
    }
    section.home-portfolio .list .list-item-portfolio > a canvas,
    section.home-portfolio .list .list-item-portfolio > a svg.circle {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 20px;
        right: 20px;
        z-index: 2;
        pointer-events: none;
    }
    section.home-portfolio .list .list-item-portfolio > a img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
        pointer-events: none;
    }
    section.home-portfolio .list .list-item-portfolio > a img.loaded {
        transition: transform 0.2s linear, opacity 0.2s linear;
    }
    @media (min-width: 1280px) {
        section.home-portfolio .list .list-item-portfolio > a svg.circle {
            z-index: 3;
            transform: rotate(-170deg);
            stroke-dashoffset: 295.16;
            stroke-dasharray: 295.16;
        }
        section.home-portfolio .list .list-item-portfolio > a svg.circle circle {
            stroke: #fff;
            opacity: 0;
            fill: none;
        }
    }
    @media (min-width: 375px) {
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 80px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            padding-right: 3%;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 15%;
        }
    }
    @media (min-width: 410px) {
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 100px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            max-width: 520px;
            padding-right: 10%;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 10%;
        }
    }
    @media (min-width: 660px) {
        section.home-portfolio .list {
            display: flex;
            flex-wrap: wrap;
            margin: 123px -7px -7px -7px;
        }
        section.home-portfolio .list .list-item-portfolio {
            margin: 7px;
            width: calc(50% - 14px);
        }
        section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
            margin-top: 7px;
        }
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 120px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            max-width: none;
            padding-right: 10%;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 20%;
        }
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.home-portfolio .list {
            margin: 110px -15px -15px -15px;
        }
        section.home-portfolio .list .list-item-portfolio {
            margin: 15px;
            width: calc(50% - 30px);
        }
        section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
            margin-top: 15px;
        }
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 180px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong {
            top: 30px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            padding-left: 40px;
            padding-right: 0;
            max-width: 280px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .h5.with-badge,
        section.home-portfolio .list .list-item-portfolio > a strong .more.with-badge {
            padding-right: 0;
        }
    }
    @media (min-width: 1024px) {
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 80px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong {
            top: 40px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more,
        section.home-portfolio .list .list-item-portfolio > a strong .with-badge {
            padding-left: 50px;
            max-width: 380px;
        }
    }
    @media (min-width: 1280px) {
        section.home-portfolio .list {
            margin: 95px -30px -30px -30px;
        }
        section.home-portfolio .list .list-item-portfolio {
            margin: 30px;
            width: calc(50% - 60px);
        }
        section.home-portfolio .list .list-item-portfolio + .list-item-portfolio {
            margin-top: 30px;
        }
        section.home-portfolio .list .list-item-portfolio > a {
            padding-top: 0;
        }
        section.home-portfolio .list .list-item-portfolio > a:active {
            border-color: transparent;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover:before {
            opacity: 1;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover img {
            transform: scale(1.02);
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular {
            opacity: 0;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .h2,
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .h5,
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .more p {
            color: #fff;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .h5,
        section.home-portfolio .list .list-item-portfolio > a:hover strong.regular .more {
            opacity: 0.6;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action {
            left: 0;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action .h5 {
            opacity: 0.6;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0s;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action .h2 {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0.1s;
        }
        section.home-portfolio .list .list-item-portfolio > a:hover strong.action .more {
            opacity: 0.6;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0.2s;
        }
        section.home-portfolio .list .list-item-portfolio > a i.new {
            top: 30px;
            right: 30px;
            border-color: transparent;
            transition: none;
        }
        section.home-portfolio .list .list-item-portfolio > a canvas,
        section.home-portfolio .list .list-item-portfolio > a svg.circle {
            top: 30px;
            right: 30px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong {
            top: 50px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong .h2,
        section.home-portfolio .list .list-item-portfolio > a strong .h5,
        section.home-portfolio .list .list-item-portfolio > a strong .more {
            padding-left: 60px;
            width: 400px;
        }
        section.home-portfolio .list .list-item-portfolio > a strong.regular .more {
            display: none;
        }
    }
    @keyframes newBadge {
        from {
            stroke-dashoffset: 295.16;
            stroke-dasharray: 295.16;
        }
        to {
            stroke-dasharray: 295.16;
            stroke-dashoffset: 0;
        }
    }
    section.case-study-top {
        padding-top: 100px;
    }
    section.case-study-top .info > div {
        margin-top: 43px;
    }
    section.case-study-top .info > div:first-child {
        margin-top: 0;
    }
    section.case-study-top .content {
        margin-top: 20px;
    }
    section.case-study-top .content .data {
        margin-top: 30px;
    }
    @media (min-width: 768px) and (min-height: 620px) {
        section.case-study-top {
            padding-top: 140px;
        }
    }
    @media (min-width: 1024px) {
        section.case-study-top .content {
            margin-top: 55px;
        }
    }
    @media (min-width: 1280px) {
        section.case-study-top {
            padding-top: 180px;
        }
    }
    @media (min-width: 1480px) {
        section.case-study-top {
            padding-top: 200px;
        }
    }
    .container.loaded section.case-study-top .info h5:nth-child(1) {
        animation: animation-1st 0.6s linear;
    }
    .container.loaded section.case-study-top .info h5:nth-child(3),
    .container.loaded section.case-study-top .info h5:nth-child(5),
    .container.loaded section.case-study-top .info h5:nth-child(7) {
        animation: animation-2nd 0.8s linear;
    }
    .container.loaded section.case-study-top .info h1 {
        animation: animation-1st 0.6s linear;
    }
    .container.loaded section.case-study-top .info h4 {
        animation: animation-2nd 0.8s linear;
    }
    .container.loaded section.case-study-top .content h3 {
        animation: animation-3rd 1s linear;
    }
    .container.loaded section.case-study-top .content h3 + h3,
    .container.loaded section.case-study-top .content h3 + h4,
    .container.loaded section.case-study-top .content h3 + p {
        animation: animation-4th 1.2s linear;
    }
    .container.loaded section.case-study-top .content h3 + h3 + h3,
    .container.loaded section.case-study-top .content h3 + h3 + h4,
    .container.loaded section.case-study-top .content h3 + h3 + p {
        animation: animation-4th 1.4s linear;
    }
    .container.loaded section.case-study-top .content h3 + h3 + h3 + h3,
    .container.loaded section.case-study-top .content h3 + h3 + h3 + h4,
    .container.loaded section.case-study-top .content h3 + h3 + h3 + p {
        animation: animation-4th 1.6s linear;
    }
    .container.loaded section.case-study-top .content h3 + h3 + h3 + h3 + h3,
    .container.loaded section.case-study-top .content h3 + h3 + h3 + h3 + h4,
    .container.loaded section.case-study-top .content h3 + h3 + h3 + h3 + p {
        animation: animation-5th 1.8s linear;
    }
    section.case-study-photos .first {
        animation: animation-6th 1.4s linear;
    }
    section.case-study-photos {
        padding-top: 70px;
    }
    section.case-study-photos .row {
        margin-top: -40px;
    }
    section.case-study-photos .row > div {
        padding-top: 20px;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        section.case-study-photos {
            padding-top: 130px;
        }
        section.case-study-photos .row {
            margin-top: -30px;
        }
        section.case-study-photos .row > div {
            padding-top: 30px;
        }
    }
    section.case-study-photos img {
        display: block;
        max-width: 100%;
        opacity: 1;
        margin: 0 auto;
        width: 100%;
    }
    section.case-study-photos video {
        display: block;
        width: 100%;
    }
    @media (min-width: 768px) and (min-height: 620px) {
        section.case-study-photos .row {
            margin: -30px -15px 0 -15px;
        }
        section.case-study-photos .row > div {
            padding: 30px 15px 0 15px;
        }
    }
    @media (min-width: 1280px) {
        section.case-study-photos .row {
            margin: -60px -30px 0 -30px;
        }
        section.case-study-photos .row > div {
            padding: 60px 30px 0 30px;
        }
    }
    .video-wrapper {
        width: 100%;
        position: relative;
    }
    .video-wrapper video {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .video-wrapper > div {
        position: relative;
    }
    .video-wrapper.loaded {
        overflow: hidden;
    }
    .video-wrapper.loaded video {
        opacity: 1;
        position: relative;
    }
    .video-wrapper.paused > div:before,
    .video-wrapper:not(.loaded) > div:before {
        content: '';
        background-color: #878a8f;
        border-radius: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform-origin: 50%;
        animation: sk-scaleout 1s infinite ease-in-out;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        .video-wrapper.paused > div:before,
        .video-wrapper:not(.loaded) > div:before {
            width: 60px;
            height: 60px;
            margin-left: -30px;
            margin-top: -30px;
        }
    }

    .Fly-in-up,
    .Fly-in-down {
        animation: none;
        transition: none;
    }
    @media (prefers-reduced-motion: no-preference) {
        // Fly-in-up animation
        .Fly-in-up {
            animation-name: Fly-in-up;
            animation-duration: 1.2s;
        }
        @keyframes Fly-in-up {
            0% {
                opacity: 0;
                filter: blur(2px);
                transform: translateY(-25%);
                transition: opacity 500ms ease-in, transform 0.4s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translateY(0);
            }
        }

        // Fly-in-down animation
        .Fly-in-down {
            opacity: 0;
            animation-name: Fly-in-down;
            animation-duration: 2s;
            animation-delay: 0.25s;
            animation-fill-mode: forwards;
        }
        @keyframes Fly-in-down {
            0% {
                opacity: 0;
                transform: translateY(25%);
                filter: blur(2px);
                transition: opacity 0.5s ease-in, transform 0.4s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translateY(0);
            }
        }

        // Fade-in
        .Fade-in {
            animation-name: Fade-in;
            animation-duration: 0.4s;
        }
        @keyframes Fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transition: opacity 250ms ease-in;
            }
        }

        // Fade-out
        .Fade-out {
            animation-name: Fade-out;
            animation-duration: 1s;
        }
        @keyframes Fade-out {
            100% {
                opacity: 0;
            }
            0% {
                opacity: 1;
                transition: opacity 250ms ease-in;
            }
        }
    }

    .i-v {
        opacity: 0;
    }

    .hidden {
        visibility: hidden;
    }
</style>

<script src="./appearOnScroll.js" defer></script>

<script>
    const $: (selector: string) => Element | null = (selector: string) => {
        document.querySelector(selector);
        return document.querySelector(selector);
    };

    window.addEventListener('load', () => {
        $('.TB')?.classList.add('Lading-animation');
        $('.header-light')?.classList.add('Lading-animation');
        $('.links')?.classList.add('Lading-animation');
        $('.animate')?.classList.add('Lading-animation');
    });

    $('.Fly-in-down')?.classList.remove('Fly-in-down');
</script>
